body {
    background-color: #666;
    margin:0;
    padding:0;
}
#content {
    margin:20px auto;
    padding:10px;
    border: 5px solid #333;
    border-radius: 10px;
    background-color: white;
    width: 700px;
    height:400px;
    box-shadow: 0 0  30px #888
}

#header {
    color:#666;
    font-size:2em;
    font-weight:bold;
    text-align:center;
    padding-bottom:30px;
    text-shadow: 1px 1px 2px #aaa;
}

.table {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

.row {
    height:40px;
    margin:15px;
    font-size:1.3em;
    line-height:40px;
    vertical-align:middle;
}

.left {
    float:left;
    width:200px;
    color:#555;
    text-align:right;
    padding-right:40px;
    text-shadow: 1px 1px 1px #bbb;
}

#indicator {
    color:#666;
}

.right {
}

input{
    color:#666;
    height:40px;
    width:300px;
    padding:5px;
    border: 1px solid #888;
    border-radius: 4px;
    font-size:1.2em;
}

input[type=range] {
    width:270px;
    float:left;
}

select {
    color:#666;
    height:40px;
    width:300px;
    padding:5px;
    border: 1px solid #888;
    border-radius: 4px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    font-size:1.2em;
}

select:hover {

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
}

input:active {
    border: 2px solid #ff9988;
}

.button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background-color:#ededed;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background-color:#dfdfdf;
}
.button:active {
    position:relative;
    top:1px; 
}

.savebutton {
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    width:200px;
}
